@media (max-width: 100%) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  padding: 35px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  border: 0.4px solid #7b281c;
  font-family: "Jura", sans-serif;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  max-width: 120px;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.2rem;
  color: #734f2b;
}

.color_prin {
  margin: 20px 0;
  font-size: 3rem;
  color: #d07e0e;
  font-family: "Times New Roman", Times, serif, sans-serif;
  text-shadow: -2px 2px 15px rgba(83, 83, 83, 0.782);
}
.font-jura {
  font-family: "Jura", sans-serif;
}

.logout-icon:hover {
  transform: translateY(3px);
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
