{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Barbacha - Login</title>
    <link
      rel="icon"
      href="https://i.postimg.cc/Hk0Z17bJ/logopng2.png"
      type="image/x-icon"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Jura:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/@heroicons/react/outline"></script>
  </head>
  <body class="bg-gray-200">
    <div class="flex min-h-screen items-center justify-center">
      <div
        class="flex flex-col md:flex-row bg-[#D8D5D2] shadow-lg rounded-lg overflow-hidden w-full h-[100vh]"
      >
        <!-- Imagen del restaurante con borde redondeado a la derecha -->
        <div class="w-[60%] md:w-1/2 relative">
          <img
            src="https://i.postimg.cc/kXy0mZQF/sombra.png"
            class="top-0 left-0 h-full w-full object-cover rounded-r-full opacity-100 blur"
            alt="Restaurante"
          />
          <img
            src="https://i.postimg.cc/43tGt9nM/img-login.png"
            alt="Restaurante La Barbacha"
            class="absolute top-0 left-0 h-[100vh] w-[98.9%] object-cover rounded-r-full"
          />
        </div>

        <!-- Formulario de login -->
        <div class="w-[50%] md:w-1/2 p-8 flex flex-col justify-center">
          <div class="text-center mb-6">
            <img
              src="https://i.postimg.cc/Hk0Z17bJ/logopng2.png"
              alt="Logo La Barbacha"
              class="mx-auto mb-4 h-[40vh]"
            />
          </div>
          <form method="post" class="space-y-6">
            {% csrf_token %}
            <div>
              <label
                for="{{ form.username.id_for_label }}"
                class="block text-2xl font-bevan text-[#000000] flex justify-center"
                >U S U A R I O</label
              >

              <input
                type="text"
                name="{{ form.username.name }}"
                id="{{ form.username.id_for_label }}"
                placeholder='"Ingrese Usuario"'
                required
                class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm"
              />
            </div>

            <div class="relative">
              <label
                for="{{ form.password.id_for_label }}"
                class="block text-2xl font-bevan text-[#000000] flex justify-center"
                >C O N T R A S E Ñ A</label
              >

              <div class="relative">
                <input
                  type="password"
                  name="{{ form.password.name }}"
                  id="password"
                  placeholder='"Ingrese Contraseña"'
                  class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm"
                  required
                />
                <button
                  id="togglePassword"
                  type="button"
                  class="absolute inset-y-2 right-0 pr-3 flex items-center"
                >
                  <svg
                    id="eyeIcon"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-6"
                  >
                    <path
                      id="eyePath1"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M3.98 8.223A10.477 10.477 0 0 0
                    1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138
                    2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0
                    8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293
                    5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21
                    21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242
                    4.242L9.88 9.88"
                    />
                    <path
                      id="eyePath2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    />
                  </svg>
                </button>
              </div>

              <script>
                const togglePassword =
                  document.querySelector("#togglePassword");
                const password = document.querySelector("#password");
                const eyePath1 = document.querySelector("#eyePath1");
                const eyePath2 = document.querySelector("#eyePath2");

                togglePassword.addEventListener("click", function () {
                  const type =
                    password.getAttribute("type") === "password"
                      ? "text"
                      : "password";
                  password.setAttribute("type", type);

                  if (type === "text") {
                    eyePath1.setAttribute(
                      "d",
                      "M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                    );
                    eyePath2.setAttribute(
                      "d",
                      "M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    );
                  } else {
                    eyePath1.setAttribute(
                      "d",
                      "M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
                    );
                    eyePath2.setAttribute(
                      "d",
                      "M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                    );
                  }
                });
              </script>
            </div>

            <style>
              .font-bevan {
                font-family: Bevan, sant-serif;
              }
            </style>

            <div class="flex items-center justify-center">
              <button
                type="submit"
                class="w-[200px] py-2 px-4 bg-[#362416] text-white font-semibold rounded-lg shadow-md hover:bg-brown-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brown-500 justify-center"
              >
                Iniciar Sesión
              </button>
            </div>
          </form>
          <p class="mt-6 text-center text-gray-500 text-sm">
            By: NexusCode Evolution
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
