<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Barbacha</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <!-- Banner superior -->
    <div
      class="w-full h-64 bg-cover bg-center"
      style="background-image: url('https://i.postimg.cc/MHsfYQ37/pancho.png')"
    >
      <div class="p-5">
        <img
          src="https://i.postimg.cc/Hk0Z17bJ/logopng2.png"
          alt="La Barbacha"
          class="w-32"
        />
      </div>
      <div
        class="absolute top-2 right-2 cursor-pointer transform hover:translate-y-1"
        onclick="logout()"
      >
        <img
          src="https://i.postimg.cc/yNG8SS4L/Logout.png"
          alt="Log Out Icon"
          class="w-9 h-9"
        />
      </div>
    </div>

    <!-- Título principal -->
    <div class="text-center mt-10">
      <h1 class="text-4xl font-serif text-[#D07E0E]">
        ¡Me gusta hasta pa' morirme!
      </h1>
    </div>

    <!-- Contenedor de botones -->
    <main class="container mx-auto">
        <div class="flex justify-center gap-24 flex-wrap mt-5">
          <!-- Tarjeta de Productos -->
          <div class="bg-white rounded-lg shadow-lg p-8 text-center cursor-pointer border hover:-translate-y-2 transition-transform duration-300 border-[#7b281c]" onclick="redirectTo('productos.html')">
            <img src="assets/images/Menu_principal/food.png" alt="Productos" class="w-30 mb-4" />
            <p class="text-lg font-bold text-[#734f2b] font-jura">PRODUCTOS</p>
          </div>
      
          <!-- Tarjeta de Empleados -->
          <div class="bg-white rounded-lg shadow-lg p-8 text-center cursor-pointer border hover:-translate-y-2 transition-transform duration-300 border-[#7b281c]" onclick="redirectTo('empleados.html')">
            <img src="assets/images/Menu_principal/personas.png" alt="Empleados" class="w-30 mb-4" />
            <p class="text-lg font-bold text-[#734f2b] font-jura">EMPLEADOS</p>
          </div>
      
          <!-- Tarjeta de Proveedores -->
          <div class="bg-white rounded-lg shadow-lg p-8 text-center cursor-pointer border hover:-translate-y-2 transition-transform duration-300 border-[#7b281c]" onclick="redirectTo('proveedores.html')">
            <img src="assets/images/Menu_principal/camion.png" alt="Proveedores" class="w-30 mb-4" />
            <p class="text-lg font-bold text-[#734f2b] font-jura">PROVEEDORES</p>
          </div>
        </div>
      </main>
      
    </div>
  </body>
</html>
